@import '@/styles/vars.scss';
.wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 70px;

  @include media(phone) {
    background-image: url('/img/hero-banner.jpg');
    background-position: 50% 40%;
    background-size: 1440px 650px;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    width: 100vw;
  gap: 10px;
  min-width: 360px;
  }
}
.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 0px 0px 80px;
  background-image: url('/img/hero-banner.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  
  @include media(phone) {
    background-image: none;
    height: 480px;
   margin-top: 20px;
  }
  &__header {
    width: 100%;
    margin: 120px 0 16px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include media(phone) {
      margin: 25px 0px 0px;
      max-width: 320px;


    }
  }
  &__title,
  &__desc {
    font-family: $main-font;
  }
  &__title {
    font-size: 56px;
    line-height: 70px;
    font-weight: 600;
    color: $white;
    text-transform: uppercase;
    margin-top: 80px;
    @include media(phone) {
      text-transform: capitalize;
      margin-bottom: 8px;
      font-weight: 500;
      font-size: 30px;
      line-height: 117%;
      text-align: center;
      color: $white;
      span {
        color: $bright-blue;
      }
    }
  }
  &__desc {
    font-size: 16px;
    line-height: 24px;
    color: $light-grey;
    max-width: 380px;
    text-align: center;
    font-weight: 400;
    @include media(phone) {
      font-size: 16px;
      line-height: 125%;
      font-weight: 500;
      font-size: 14px;
      line-height: 125%;
      text-align: center;
      color: $light-grey;
    }
  }
  &__stats_list {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 40px;
    margin-top: 40px;
    @include media(phone) {
      font-size: 32px;
      gap: 8px;
      margin-top: 24px;
      flex-direction: row-reverse;
      justify-content: space-evenly;
    }
  }
}
