@import '@/styles/vars.scss';

.technologies {
  @include media(phone){
  margin-top: 80px;
    
  }
  margin-top: 140px;
  width: 100%;
  font-family: $main-font;

  &__title {
    font-size: 40px;
    line-height: 125%;
    font-weight: 600;
    color: $white;
    margin-bottom: 20px;
    text-align: center;
  }
  &__desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: $light-grey;
    margin: 0 auto 40px;
    text-align: center;
    max-width: 1024px;
    @include media(phone){
    display: none;
    }
  }
  &__img {
    @include media(phone){
     display: none;
        
      }
    position: relative;
    grid-row: 1 / 4;
    overflow: hidden;
    border-radius: 10px;
    aspect-ratio: 387/496;
    max-width: 387px;
  }
  &__list {
    display: grid;
    gap: 28px 40px;
    grid-template-columns: 1fr 1fr 1fr;
    color: $white;
    grid-template-rows: 1fr;
    @include media(phone) {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .card {
      overflow: hidden;
      border-radius: 10px;
      border: 2px solid #2d8eee;
      background: #12273c;
      position: relative;
      width: 380px;
      height: 140px;
      padding: 20px 40px;
      transition-duration: 0.3s;
      @include media(phone) {
        width: 100%;
      }
      &:hover {
        box-shadow: inset 1px 1px 7px #2d8eee;
        img[data-name='pencil'] {
          transform: rotate(360deg);
        }
        img[data-name='cpu'] {
          animation: cpu 0.8s linear 1;
        }
        img[data-name='java_text'] {
          animation: java_text 0.8s linear 1;
        }
        img[data-name='java_piece'] {
          animation: java_piece 0.7s linear 1;
        }
        img[data-name='data'] {
          animation: data 1s linear 1;
        }
        img[data-name='fluent_content_gear'] {
          animation: fluent_content_gear 1s linear 1;
        }
        img[data-name='check_arrow'] {
          animation: check_arrow 1s linear 1;
        }
        .card_label {
          animation: card_label 0.7s linear 1;
        }
      }
      .card_image {
        /*    overflow: hidden; */
        position: absolute;
        top: 10px;
        left: 10px;
        img[data-name='pencil'] {
          transition-duration: 0.5s;
        }

        img[data-name='cpu_border'] {
          position: absolute;
          top: 0px;
          left: 0px;
        }

        img[data-name='java_piece'] {
          position: absolute;
          top: 0px;
          left: 0px;
        }
        img[data-name='java_text'] {
          position: absolute;
          top: 0px;
          left: 0px;
        }

        img[data-name='fluent_content_gear'] {
          transition-duration: 0.5s;
          position: absolute;
          top: 20px;
          left: 20px;
          width: 20px;
          height: 20px;
        }

        img[data-name='check_arrow'] {
          position: absolute;
          top: 0px;
          left: 0px;
        }
      }
      .card_content {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .card_label {
          padding-bottom: 4px;
          font-size: 24px;
          font-weight: 600;
          line-height: 150%;
          margin-bottom: 15px;
          position: relative;
          border-bottom: 1.5px solid #2d8eee;
          @media (max-width:390px) {
          line-height: 150%;
          font-size: 20px;
          max-width: 240px;
          }
        }
        .card_text {
          @media (max-width:390px) {
            font-size: 15px;
          }
            font-size: 16px;
          line-height: 150%;
          margin-bottom: 20px;
          width: 315px;
        }
      }
    }
  }
  &__item {
    padding: 20px 0;
    border: 1px solid $bright-blue;
    background-color: $pale-blue;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    text-align: center;
    &_icon {
      position: absolute;
      left: 10px;
      top: 10px;
    }
    &_title {
      margin-bottom: 12px;
      font-size: 24px;
      font-weight: 600;
      line-height: 150%;
      color: $white;
      width: fit-content;
      text-align: center;
      position: relative;
      &::after {
        position: absolute;
        content: '';
        height: 2px;
        width: 100%;
        background-color: $bright-blue;
        bottom: -4px;
        left: 0;
      }
    }
    &_desc {
      font-size: 16px;
      font-weight: 400;
      line-height: 140%;
      color: $white;
      text-align: center;
      width: 295px;
      margin: 0 auto;
    }
  }
}
@keyframes cpu {
  0% {
    transform: rotate(30deg);
  }
  25% {
    transform: rotate(-30deg);
  }
  50% {
    transform: rotate(30deg);
  }
  75% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes java_text {
  0% {
    left: -50px;
  }
  25% {
  }
  50% {
    left: 10px;
  }
  75% {
  }
  100% {
    left: 0px;
  }
}
@keyframes java_piece {
  0% {
    transform: rotate3d(0, 0, 1, 0deg);
  }

  100% {
    transform: rotate3d(0, 0, 1, -360deg);
  }
}
@keyframes data {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.3, 1);
  }
  50% {
    transform: scale(1, 1);
  }
  75% {
    transform: scale(1, 0.3);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes fluent_content_gear {
  0% {
    transform: rotate(0deg);
  }
  50% {
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes check_arrow {
  0% {
    opacity: 0;
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    opacity: 1;
  }
}
@keyframes card_label {
  0% {
    border-bottom: 1px solid #2d8eee;
  }
  50% {
    border-bottom: 1px solid #2d8dee05;
  }
  100% {
    border-bottom: 1px solid #2d8eee;
  }
}
