@import '@/styles/vars.scss';
.swiper {
  margin-left: 60px;
  & > div {
    height: 100%;
    display: flex;
    align-items: center;
    user-select: none;
  }

  :global(.swiper-wrapper) {
    transition-timing-function: linear;
  }
}

.title {
  margin: auto;
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
  font-size: 40px;
  line-height: 125%;
  margin-top: 100px;
  color: #f0f0f0;
  @include media(phone) {
    margin-top: 40px;
  }
}

.infiniteSlider {
  overflow: hidden;
  position: relative;
  width: 100%;


  @include media(phone) {
    padding: 25px 0px;
  }

  // &::before,
  // &::after {
  //   content: "";
  //   position: absolute;
  //   top: 0;
  //   bottom: 0;
  //   width: 48px;
  //   z-index: 1;
  // }

  // &::before {
  //   left: 0;
  //   background-image: linear-gradient(90deg, $dark-blue, rgba($dark-blue, 0));
  // }

  // &::after {
  //   right: 0;
  //   background-image: linear-gradient(270deg, $dark-blue, rgba($dark-blue, 0));
  // }
}

.logo {
  display: block;
  height: 40px;
  width: 160px;
  aspect-ratio: 160/48;
  position: relative;
  @include media(phone) {
    height: 35px;
    width: 110px;
  }
  img {
    height: inherit;
    width: inherit;
  }
}

.infiniteSlider,
.infiniteSlider > div,
.infiniteSlider > div > div {
  display: flex;
  align-items: center;
}

.infiniteSlider > div > div > div {
  padding-right: 40px;
  box-sizing: content-box;
  @include media(phone) {
    padding-right: 24px;
  }
}

.infiniteSlider > div {
  transform: translateX(-15%);
  animation: 15s infinite-slider linear infinite;
}

@keyframes infinite-slider {
  from {
    transform: translateX(-33.33%);
  }
  to {
    transform: translateX(-66.66%);
  }
}
