@import '@/styles/vars.scss';
.wrapper {
  width: 100%;
  height: 404px;

  @include media(phone) {
    min-height: 235px;
    height: fit-content;
    background-size: cover!important;
  }
}
.hero {
  margin-top: 170px;
  display: flex;
  width: 100%;
  flex-direction: column;
  width: 100%;
  @include media(phone) {
    margin-top: 20px;
  }
  &__title,
  &__desc {
    font-family: $main-font;
  }
  &__title {
    font-size: 56px;
    line-height: 70px;
    font-weight: 600;
    color: $white;
    margin-bottom: 20px;

    @include media(phone) {
      font-size: 32px;
      line-height: 125%;
    margin-top: 140px;
    position: relative;
/* animation: anim_text 7s linear 0s infinite; */
    }
  }
  &__desc {
    font-size: 16px;
    line-height: 24px;
    color: $dark-grey;
    max-width: 500px;
    font-weight: 400;
  }
}
@keyframes anim_text {
  0% {
    left: 0px;
  }
  85%{
    left: 0px;
    letter-spacing: 0px;


  }
  90% {
    left: 15px;
    letter-spacing: 4px;
  
  
  }
  100% {
    letter-spacing: 0px;

    left: 0px;
  }
}
