@import '@/styles/vars.scss';
.wrapper {
  width: 100%;
  background-color: $pale-blue;
  position: relative;
  &::after, &::before {
    content: '';
    width: 100%;
    height: 160px;
    background-color: $dark-blue;
    position: absolute;
  }
  &::after{
    top: 0;
  }
  &::before{
    bottom: 0;
  }
  
}
.catalog {
  padding: 80px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  font-family: $main-font;
  gap: 40px;
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__section_name {
    padding-left: 40px;
    color: $white;
    font-size: 48px;
    font-weight: 600;
    line-height: 125%;
    position: relative;
    margin-bottom: 24px;
    &::after {
      height: 34px;
      width: 1px;
      background-color: $bright-blue;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      content: '';
    }
  }
  &__title {
    font-size: 24px;
    font-weight: 600;
    line-height: 125%;
    color: $white;
    max-width: 400px;
    margin-bottom: 12px;
  }
  &__desc {
    font-size: 16px;
    font-weight: 400;
    line-height: 125%;
    color: $white;
  }
  &__images {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 40px;
    height: 824px;
  }
  &__image {
    position: relative;
    border-radius: 12px;
    height: 392px;
    width: 600px;
    overflow: hidden;
    z-index: 1;
    img {
      height: auto !important;
      width: 100%;
    }
  }
}
