@import '@/styles/vars.scss';

.tabs_container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.tab {
  border-radius: 0;
  transition: background-color 0.5s cubic-bezier(0, 1, 0, 1);
  border-bottom: 1px solid $pale-blue;
  &__button {
    transition-duration: 0.3s;
    border-radius: 50%;
    position: relative;
    height: 40px;
    width: 40px;
    margin-left: auto;
    @include media(phone) {
      height: 28px;
      width: 28px;
    }
  }
  &.active {
    background-color: $pale-blue;
    transition: background-color 0.5s ease-in-out;
    border-radius: 10px;
    border-bottom: 0; // Add this line to remove the bottom border for .tab.active
    &:hover {
      .tab__button {
        background-color: #0d345c;
      }
    }
  }
}

.tab_header {
  height: 80px;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 20px;
  color: $white;
  font-family: $main-font;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  @include media(phone) {
    padding: 12px 12px 8px;
    font-size: 18px;
    line-height: 125%;
    height: 48px;
  }
}
.link__icon {
  opacity: 0;
  transition: opacity 0.5s cubic-bezier(0, 1, 0, 1);
  margin-left: auto;

  &.active {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  }
}
.tab_content {
  overflow: hidden;
  max-height: 0;
  padding: 0 20px;
  transition: max-height 1s cubic-bezier(0, 1, 0, 1);
  border-radius: 10px;
  @include media(phone) {
    padding: 0 12px;
  }

  &__text {
    padding-bottom: 20px;
    font-family: $main-font;
    font-size: 16px;
    line-height: 24px;
    color: $dark-grey;
    font-weight: 400;
    @include media(phone) {
      font-size: 14px;
      line-height: 125%;
    }
  }
  &.open {
    max-height: 1000px;
    transition: max-height 1s ease-in-out;
  }
}
