$dark-blue: #081522;
$pale-blue: #12273c;
$bright-blue: #2d8eee;
$white: #f0f0f0;
$light-grey: #d4d4d4;
$dark-grey: #b1b1b1;
$green: #3deb8d;
$yellow: #ffcf25;
$red: #fa3d3d;
$pale-bright-blue: #59acff;
$dark-bright-blue: #0777e7;

$font-family: 'Manrope', sans-serif;
$second-family: 'Open Sans', sans-serif;
$third-family: 'Gilroy-SemiBold', sans-serif;

@mixin xs {
  @media (max-width: 425px) {
    @content;
  }
}
.sort {
  display: flex;
  align-items: center;

  .sort_label {
    font-family: $font-family;
    font-weight: 600;
    font-size: 16px;
    line-height: 125%;
    color: $white;
    margin-right: 20px;
    @media (max-width: 360px) {
      font-size: 14px;
      margin-right: 20px;
    }
  }
  .sort_list {
    font-family: $font-family;
    font-weight: 600;
    font-size: 16px;
    line-height: 125%;
    color: #1f4264;
    display: flex;
    align-items: center;
    gap: 10px;
    @media (max-width: 360px) {
      font-size: 15px;
      gap: 10px;
    }
    li {
      transition: 0.3s;
      &:hover {
        color: #757575;
      }
      cursor: pointer;
    }
    li.active {
      color: $white;
    }
  }
}
.blogs_label_sort_mob {
  display: none;
}

@include xs {
  .blogs_label_sort_mob {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 30px;

    .label_mob {
      font-family: $font-family;
      font-weight: 600;
      font-size: 24px;
      line-height: 125%;
      color: #fff;
      position: relative;
      margin-bottom: 12px;
    }
  }
}
