@import '@/styles/vars.scss';

.card {
  max-width: 387px;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  @include media(phone) {
    border-radius: 8px;
  }
  &__image {
    position: relative;
    aspect-ratio: 387/300;
    width: 100%;
    margin-bottom: 50px;
    @include media(phone) {
      height: 200px;
      margin-bottom: 32px;
    }
    & > img {
      border-radius: 10px;
      @include media(phone) {
        border-radius: 8px;
      }
    }
  }
  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: $bright-blue;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    @include media(phone) {
      width: 48px;
      height: 48px;
    }
    img {
      width: 32px;
      height: 32px;
      @include media(phone) {
        width: 24px;
        height: 24px;
      }
    }
  }
  &__title {
    font-size: 18px;
    font-weight: 600;
    font-family: $main-font;
    line-height: 125%;
    color: $white;
    margin-bottom: 8px;
  }
  &__desc {
    font-size: 14px;
    font-weight: 400;
    font-family: $main-font;
    line-height: 150%;
    color: $dark-grey;
    text-align: justify;
  }
}
