@import '@/styles/vars.scss';

.card {
  width: 387px;
  display: flex;
  flex-direction: column;
  &__image {
    height: 300px;
    position: relative;
    width: 100%;
    margin-bottom: 50px;
    & > img {
      border-radius: 10px;
    }
  }
  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: $bright-blue;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    img {
      width: 32px;
      height: 32px;
    }
  }
  &__title {
    font-size: 18px;
    font-weight: 600;
    font-family: $main-font;
    line-height: 125%;
    color: $white;
    margin-bottom: 8px;
  }
  &__desc {
    font-size: 16px;
    font-weight: 400;
    font-family: $main-font;
    line-height: 150%;
    color: $dark-grey;
  }
}
