@import '@/styles/vars.scss';

.work_with_us {
  margin: 140px auto 0;
  width: 100%;
  @include media(phone) {
    margin: 40px auto 0;
  }
  &__title {
    text-align: center;
    font-family: Manrope;
    font-size: 40px;
    font-weight: 600;
    line-height: 125%;
    color: $white;
    max-width: 750px;
    margin: 0 auto 32px;
    @include media(phone) {
      font-size: 24px;
    }
  }
  &__list {
    display: flex;
    gap: 40px;
    align-items: center;
    @include media(phone) {
      flex-direction: column;
    }
  }
  &__item {
    max-width: 386px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &__icon {
      width: 173px;
      height: 173px;
      background-color: $pale-blue;
      border-radius: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 12px;
      @include media(phone) {
        height: 64px;
        width: 64px;
        img {
          width: 32px;
          height: 32px;
        }
      }
    }
    &__desc {
      text-align: center;
      font-family: Manrope;
      font-size: 18px;
      font-weight: 600;
      line-height: 125%;
      color: $dark-grey;
      @include media(phone){
        text-align: justify;
      }
    }
  }
}
