@import '@/styles/vars.scss';

.services {
  margin-top: 140px;
  width: 100%;
  @include media(phone) {
    margin-top: 40px;
  }
  &__content {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    @include media(phone) {
      flex-direction: column;
      gap: 24px;
    }
  }
  &__image {
    max-width: 600px;
    width: 100%;
    aspect-ratio: 600/ 484;
    max-height: 484px;
    position: relative;
    border-radius: 10px;
    flex-shrink: 0;
    img {
      width: 100%;
      height: auto;
    }
    @include media(phone) {
      order: 1;
    }
  }
  &__desc {
    flex-grow: 1;
    width: 100%;
  }
  &__title {
    font-family: $main-font;
    font-size: 40px;
    line-height: 50px;
    font-weight: 600;
    color: $white;
    margin-bottom: 15px;
    @include media(phone) {
      font-size: 20px;
      line-height: 130%;
    }
  }
}
