@import '@/styles/vars.scss';

.lang_btn {
  cursor: pointer;
}
.lang_wrap {
  width: 88px;
  display: flex;
  gap: 24px;
  margin-right: 40px;
  position: relative;

}
.separator {
  position: absolute;
  top: 0;
  left: 44px;
  height: 100%;
  width: 1px;
  background-color: $pale-blue;
}
@media (max-width:1440px) {
  
.lang_wrap {
  width:inherit;
  margin-right: 0px;
  gap: 10px;
  img{
    width: 28px;
    height: 28px;
  }
}
.separator {
  display: none;
}
}