@import '@/styles/vars.scss';

.banner {
  margin-top: 140px;
  display: flex;
  gap: 40px;
  width: 100%;
  @include media(phone) {
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
  }
  &__content {
    max-width: 600px;
    width: 100%;
    @include media(phone) {
      max-width: none;
    }
  }
  &__title {
    font-family: $main-font;
    font-size: 40px;
    line-height: 125%;
    font-weight: 600;
    color: $white;
    margin-bottom: 20px;
    text-align: center;
    @include media(phone){
    font-size: 35px;

    }
  }
  &__desc {
    font-family: $main-font;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: $dark-grey;
    text-align: justify;
  }
  &__image {
    width: 100%;
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    border-radius: 10px;
    aspect-ratio: 600/328;
  }
}
