@import '@/styles/vars.scss';
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  background-color: $dark-blue;
  overflow-x: hidden;
  min-width: 360px !important;
}
