$white: #f0f0f0;
$dark-grey: #b1b1b1;
$light-grey: #d4d4d4;
$bright-blue: #2d8eee;
$bright-blue-hover: #2778c9;
$dark-blue: #081522;
$pale-blue: #12273c;

$main-font: 'Manrope';
$secondary-font: 'Open Sans';
