@import '@/styles/vars.scss';

.what_you_get {
  margin: 140px auto 0;
  font-family: $main-font;
  width: 100%;
  @include media(phone) {
    margin-top: 40px;
  }
  &__title {
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    line-height: 125%;
    color: $white;
    max-width: 750px;
    margin: 0 auto 40px;
    @include media(phone) {
      font-size: 35px;
   
    }
  }
  &__list {
    display: grid;
    gap: 40px;
    align-items: center;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, 1fr);
    @include media(phone) {
      grid-template-columns: 1fr;
    }

    .card {
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 280px;
          position: relative;
          width: 100%;
      @include media(phone) {
        max-width: none;
      }
      .card_row {
        display: flex;
        align-items: flex-start;
        flex-wrap: nowrap;
        justify-content: flex-start;
        gap: 0px;
        .card_info {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }
        .card_image {
          position: relative;

          img {
            width: 40px;
            height: 40px;
          }
          margin-right: 15px;
          img[data-name='money'] {
            position: relative;
          }
          img[data-name='card'] {
            position: relative;
          }
          img[data-name='man_head'] {
            position: relative;
          }
          img[data-name='rocket_fire'] {
            transition-duration: 0.2s;
            opacity: 1;
            position: absolute;
            top: 15px;
            left: -15px;
          }
          img[data-name='rocket_active_fire'] {
            transition-duration: 0.2s;
            opacity: 0;
            position: absolute;
            top: 16px;
            left: -17px;
          }
          img[data-name='notebook_note'] {
            position: absolute;
            top: 0px;
            left: 0px;
          }
          img[data-name='shield_Daw'] {
            transition-duration: 0.3s;
            position: absolute;
            top: 0px;
            left: 0px;
          }
          img[data-name='lighting'] {
            position: relative;
          }
          img[data-name='man'] {
            position: absolute;
            top: 0px;
            left: 0px;
          }
          img[data-name='some_gear'] {
            position: absolute;
            top: 0px;
            left: 0px;
          }
          img[data-name='some_bottom'] {
            position: absolute;
            top: 0px;
            left: 0px;
          }
        }
        &:hover {
          .card_label {
            animation: line 0.7s linear 1;
          }
          img[data-name='money'] {
            animation: money 0.7s linear 1;
          }
          img[data-name='card'] {
            animation: card 0.7s linear 1;
          }
          img[data-name='notebook_note'] {
            animation: notebook_note 0.7s linear 1;
          }
          img[data-name='rocket_active_fire'] {
            opacity: 1;
            animation: rocket_fire 0.7s linear 3;
          }

          img[data-name='rocket_fire'] {
            opacity: 0;
            animation: rocket_fire 0.7s linear 3;
          }
          img[data-name='shield_Daw'] {
            animation: shield_Daw 0.7s linear 1;
            transform: scale(1.3);
          }
          img[data-name='lighting'] {
            animation: lighting 0.3s linear 1;
          }
          img[data-name='man_head'] {
            animation: head 0.7s linear 1;
          }
          img[data-name='some_bottom'] {
            animation: some_bottom 0.7s linear 1;
          }
          img[data-name='some_gear'] {
            animation: some_gear 0.7s linear 1;
          }
        }
        .card_label {
          max-width: 223px;
          color: #c3c3c3;
          text-align: center;
          font-family: 'Manrope';
          font-size: 18px;
          font-weight: 600;
          line-height: 125%; /* 22.5px */
          border-bottom: 1px solid #2d8eee;
          margin-bottom: 15px;
          padding-bottom: 5px;
          @include media(phone) {
            margin-bottom: 70px;
          }
        }
        .card_text {
          color: var(--dark-grey, #b1b1b1);
          text-align: justify;
          font-family: 'Open Sans';
          font-size: 16px;
          font-weight: 400;
          line-height: 140%; /* 22.4px */
          max-width: 230px;
          @include media(phone) {
            position: absolute;
            top: 60px;
            left: 30px;
            max-width: 280px;
          }
        }
      }
    }
  }
}
@keyframes rocket_fire {
  0% {
    transform: translate(0px, 0px) rotate(0deg);
  }
  25% {
    transform: translate(3px, 3px) rotate(-10deg);
  }
  50% {
    transform: translate(-3px, -3px) rotate(10deg);
  }
  75% {
    transform: translate(3px, 3px) rotate(-10deg);
  }

  100% {
    transform: translate(0px, 0px) rotate(0deg);
  }
}
@keyframes line {
  0% {
    border-color: transparent;
  }
  100% {
    border-color: #2d8eee;
  }
}
@keyframes money {
  0% {
    top: -15px;
    transform: scaleX(0.4);
  }
  50% {
    transform: scale(1.1, 0.4);
  }
  100% {
    top: 0px;
  }
}
@keyframes card {
  0% {
    left: -30px;
    opacity: 0;
  }
  50% {
  }
  100% {
    left: 0px;
    opacity: 1;
  }
}
@keyframes notebook_note {
  0% {
    opacity: 0;
    transform: scale(1.3);
  }
  50% {
  }
  100% {
    opacity: 1;
  }
}
@keyframes shield_Daw {
  0% {
    opacity: 0;
  }
  50% {
  }
  100% {
    transform: scale(1.3);
    opacity: 1;
  }
}
@keyframes lighting {
  0% {
    top: -50px;
    transform: scale(0.3);
    opacity: 0.3;
  }
  50% {
  }
  100% {
    transform: scaleX(1);

    opacity: 1;
    top: 0px;
    left: 0px;
  }
}
@keyframes head {
  0% {
    top: -20px;
    transform: scaleX(0.5);
  }
  50% {
    top: 0px;
    transform: scaleX(0.8);

    transform: scaleY(0.5);
  }
  100% {
    transform: scale(1);

    opacity: 1;
  }
}
@keyframes some_bottom {
  0% {
    top: -20px;
    opacity: 0;
  }
  50% {
  }
  100% {
    top: 0px;

    opacity: 1;
  }
}
@keyframes some_gear {
  0% {
  }
  50% {
    top: 2px;
    transform: scale(1.2);
  }
  100% {
  }
}
