@import '@/styles/vars.scss';

.business {
  margin-top: 140px;
  width: 100%;
  &__title {
    text-align: center;
    color: $white;
    font-family: $main-font;
    font-size: 40px;
    line-height: 50px;
    font-weight: 600;
    margin-bottom: 40px;
  }
  &__cards {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    overflow: hidden;
  }
}
