@import '@/styles/vars.scss';

.info_block {
  margin-top: 70px;
  display: flex;
  width: 100%;
  font-family: $main-font;
  &:hover {
    &:hover {
      .info_block__text {
        &::after {
          animation: border_bottom 0.5s linear 1;
        }
      }
    }
  }
  &__text {
    margin: 0 auto;
    color: $white;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 150%;
    max-width: 1000px;
    position: relative;
    &::after {
      position: absolute;
      content: '';
      height: 2px;
      width: 100px;
      background-color: $bright-blue;
      left: 50%;
      bottom: -16px;
      transform: translateX(-50%);
    }
  }
}
@keyframes border_bottom {
  10% {
    background-color: rgba(0, 0, 255, 0);
  }
  100% {
    background-color: $bright-blue;
  }
}
