@import '@/styles/vars.scss';

.stages {
  font-family: $main-font;
  margin: 140px auto 0;
  @include media(phone) {
    margin: 80px auto 0;
  }

  &__title {
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    line-height: 125%;
    color: $white;
    margin-bottom: 12px;
  }
  &__desc {
    color: $dark-grey;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    line-height: 125%;
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
  }
  &__timeline {
    margin-top: 40px;
    gap: 12px;
    @include media(phone) {
      gap: 15px;
    }
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr;
    justify-content: space-between;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: $bright-blue;
      top: calc(50% - 6px);
      left: 0;
      @include media(phone) {
        width: 1px;
        height: 100%;
        top: 0;
        left: 8px;
      }
    }

    &__item {
      display: flex;
      height: 170px;
      flex-direction: column;
      justify-content: flex-start;
      position: relative;
      @include media(phone) {
        height: 16px;
        flex-direction: row;
       /*  padding-left: 36px; */
        align-items: center;
        gap: 8px;
      
        &__order{
          position: relative;
          z-index: 12;
          padding-right: 5px;
        }
      }
      &__order[data-count='1'] {
        counter-increment: count 01;
        &::after {
          content: counter(count);
        }
        &:hover {
          animation: count1 0.5s linear 1;
          counter-increment: count 01;
        }
      }
      &__order[data-count='2'] {
        counter-increment: count 02;
        &::after {
          content: counter(count);
        }
      }
      &__order[data-count='3'] {
        counter-increment: count 03;
        &::after {
          content: counter(count);
        }
      }
      &__order[data-count='4'] {
        counter-increment: count 04;
        &::after {
          content: counter(count);
        }
      }
      &__order[data-count='5'] {
        counter-increment: count 05;
        &::after {
          content: counter(count);
        }
      }
      &__order[data-count='6'] {
        counter-increment: count 06;
        &::after {
          content: counter(count);
        }
      }
      &__order[data-count='7'] {
        counter-increment: count 07;
        &::after {
          content: counter(count);
        }
      }
      &__order[data-count='8'] {
        counter-increment: count 08;
        &::after {
          content: counter(count);
        }
      }
      &__order[data-count='9'] {
        counter-increment: count 09;
        &::after {
          content: counter(count);
        }
      }
      &:hover &__order[data-count='1'] {
        animation: count1 0.5s linear 1;
        counter-increment: count 01;
      }
      &:hover &__order[data-count='2'] {
        animation: count2 0.5s linear 1;
        counter-increment: count 02;
      }
      &:hover &__order[data-count='3'] {
        animation: count3 0.5s linear 1;
        counter-increment: count 03;
      }
      &:hover &__order[data-count='4'] {
        animation: count4 0.5s linear 1;
        counter-increment: count 04;
      }
      &:hover &__order[data-count='5'] {
        animation: count5 0.5s linear 1;
        counter-increment: count 05;
      }
      &:hover &__order[data-count='6'] {
        animation: count6 0.5s linear 1;
        counter-increment: count 06;
      }
      &:hover &__order[data-count='7'] {
        animation: count7 0.5s linear 1;
        counter-increment: count 07;
      }
      &:hover &__order[data-count='8'] {
        animation: count8 0.5s linear 1;
        counter-increment: count 08;
      }
      &:hover &__order[data-count='9'] {
        animation: count9 0.5s linear 1;
        counter-increment: count 09;
      }
      &:hover {
        &::before {
          width: 32px;
          height: 32px;
          @include media(phone) {
            width: 20px;
            height: 20px;
         
          }
        }
        &::after {
          content: '';
          position: absolute;
          width: 22px;
          height: 22px;
          border-radius: 50%;
          background-color: $bright-blue;
          border: 1px solid $white;
          top: calc(50% - 6px);
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: 10;
          @include media(phone) {
           display: none;

          }
        }
      }
      &::before {
        content: '';
        position: absolute;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: $bright-blue;
        top: calc(50% - 6px);
        left: 50%;
        transform: translate(-50%, -50%);
        transition: all 0.3s ease;
        @include media(phone) {
          width: 20px;
          height: 20px;
          transform: translate(0, 0);
          left: 0;
          top: -3px;
          z-index: 0;
        }
      }

      &:nth-child(2n) {
        justify-content: flex-end;
        @include media(phone) {
          justify-content: flex-start;
        }
      }
      &__order {
        color: $bright-blue;
        font-size: 18px;
        font-weight: 600;
        line-height: 125%;
        text-align: center;
        margin-bottom: 4px;
        @include media(phone) {
          top: 0px;
          left: 2.5px;
          font-size: 12px;
          margin: 0;
          color: #0228a3;
        }
      }
      &__title {
        color: $white;
        font-size: 14px;
        font-weight: 400;
        line-height: 120%;
        text-align: center;
        margin-bottom: 12px;
        @include media(phone) {
          margin: 0;
        }
      }
    }
  }
}
@keyframes count1 {
  0% {
    counter-increment: count 00;
  }
  100% {
    counter-increment: count 01;
  }
}
@keyframes count2 {
  0% {
    counter-increment: count 00;
  }
  50% {
    counter-increment: count 01;
  }
  100% {
    counter-increment: count 02;
  }
}
@keyframes count3 {
  0% {
    counter-increment: count 00;
  }
  33% {
    counter-increment: count 01;
  }
  66% {
    counter-increment: count 01;
  }
  100% {
    counter-increment: count 03;
  }
}
@keyframes count4 {
  0% {
    counter-increment: count 00;
  }
  25% {
    counter-increment: count 01;
  }
  50% {
    counter-increment: count 02;
  }
  75% {
    counter-increment: count 03;
  }
  100% {
    counter-increment: count 04;
  }
}
@keyframes count5 {
  0% {
    counter-increment: count 00;
  }
  20% {
    counter-increment: count 01;
  }
  40% {
    counter-increment: count 02;
  }
  60% {
    counter-increment: count 03;
  }
  80% {
    counter-increment: count 04;
  }
  100% {
    counter-increment: count 05;
  }
}
@keyframes count6 {
  0% {
    counter-increment: count 00;
  }
  16% {
    counter-increment: count 01;
  }
  32% {
    counter-increment: count 02;
  }
  48% {
    counter-increment: count 03;
  }
  64% {
    counter-increment: count 04;
  }
  80% {
    counter-increment: count 05;
  }
  100% {
    counter-increment: count 06;
  }
}
@keyframes count7 {
  0% {
    counter-increment: count 00;
  }
  15% {
    counter-increment: count 01;
  }
  30% {
    counter-increment: count 02;
  }
  45% {
    counter-increment: count 03;
  }
  60% {
    counter-increment: count 04;
  }
  73% {
    counter-increment: count 05;
  }
  88% {
    counter-increment: count 06;
  }
  100% {
    counter-increment: count 07;
  }
}
@keyframes count8 {
  0% {
    counter-increment: count 00;
  }
  12% {
    counter-increment: count 01;
  }
  24% {
    counter-increment: count 02;
  }
  36% {
    counter-increment: count 03;
  }
  48% {
    counter-increment: count 04;
  }
  60% {
    counter-increment: count 05;
  }
  72% {
    counter-increment: count 06;
  }
  84% {
    counter-increment: count 07;
  }
  100% {
    counter-increment: count 08;
  }
}
@keyframes count9 {
  0% {
    counter-increment: count 00;
  }
  11% {
    counter-increment: count 01;
  }
  22% {
    counter-increment: count 02;
  }
  33% {
    counter-increment: count 03;
  }
  44% {
    counter-increment: count 04;
  }
  55% {
    counter-increment: count 05;
  }
  66% {
    counter-increment: count 06;
  }
  77% {
    counter-increment: count 07;
  }
  88% {
    counter-increment: count 08;
  }
  100% {
    counter-increment: count 09;
  }
}
