@import '@/styles/vars.scss';

.workflow {
  margin-top: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $main-font;
  &__title {
    font-size: 40px;
    font-weight: 600;
    line-height: 125%;
    color: $white;
    max-width: 800px;
    text-align: center;
  }
  &__desc {
    margin-top: 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    color: $dark-grey;
    max-width: 800px;
    text-align: center;
  }
  &__list {
    display: flex;
    margin-top: 60px;
    gap: 20px;
    @include media(phone) {
      flex-direction: column;
    }
  }
  &__item {
    display: flex;
    flex-direction: column;

    &:hover {
      .workflow__item__order {
        animation: border_bottom 0.5s linear 1;
      }
    }
    &__order {
      height: 36px;
      padding-bottom: 12px;
      border-bottom: 2px solid $bright-blue;
      font-size: 18px;
      font-weight: 400;
      letter-spacing: 0.36px;
      text-transform: uppercase;
      color: $white;
      text-align: center;
    }
    &__title {
      margin-top: 20px;
      color: $light-grey;
      font-size: 18px;
      font-weight: 600;
      line-height: 125%;
      padding: 0 10px;
      text-align: center;
    }
    &__desc {
      margin-top: 12px;
      color: $dark-grey;
      font-size: 16px;
      font-weight: 400;
      line-height: 150%;
      text-align: justify;
    }
  }
}
@keyframes border_bottom {
  10% {
    border-bottom: 2px solid rgba(0, 0, 255, 0);
  }
  100% {
    border-bottom: 2px solid $bright-blue;
  }
}
