@import '@/styles/vars.scss';
.wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 48px;
  height: 100%;
  @include media(phone){
    gap: 30px;
  }
}
.hero {
  width: 100%;
  margin-top: 80px ;
  height: 100vh;
  padding-bottom: 80px;
  background-position: center;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: $main-font;
  @include media(phone){
  margin-top: 20px;
  }
  &__title {
    color: $white;
    text-align: center;
    font-size: 42px;
    font-weight: 600;
    line-height: 42px;
    letter-spacing: 0.84px;
  }
  &__desc {
    color: $white;
    text-align: center;
    font-size: 21px;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 0.42px;
  }
}
