@import '@/styles/vars.scss';
.burger_menu {
  font-family: $main-font;

  &__btn {
    margin-left: 20px;
    cursor: pointer;
    height: 28px;
  }
  &__wrapper {
    width: 100%;
    background-color: $dark-blue;
    left: 0;
    top: -60px;
    z-index: -1;
    padding-top: 88px;
    position: absolute;
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
  }
  &__links {
    display: flex;
    flex-direction: column;
    margin-top: 120px;
    width: 100%;
    padding: 0 16px;
    list-style: none;
    gap: 24px;
    li {
      border-bottom: 1px solid rgba(45, 142, 238, 0.33);
      padding-bottom: 10px;
      transition: color 0.3s;
      &:hover {
        color: #2d8eee;
      }
    }
    li:nth-child(1) {
      display: none;
    }
  }
  &__switch {
    margin: 25px 0px 20px;
    padding: 0 16px;
  }
}

.link-item {
  color: $dark-grey;
  font-family: $main-font;
  font-size: 18px;
  line-height: 22.5px;
  font-weight: 600;
  min-width: fit-content;
  display: flex;
  align-items: center;
  gap: 8px;
  &--active,
  &:hover {
    color: $white;
  }
}
.navbar__btn {
  margin: auto;
  border-radius: 90px;
  padding: 12px 32px;
  width: 312px;
  height: 47px;
}
