@import '@/styles/vars.scss';

.pagination {
  margin-top: 140px;
  display: flex;
  width: 100%;
  flex-direction: column;
  font-family: $main-font;
  @include media(phone) {
    margin-top: 40px;
  }
  &__filters {
    scroll-behavior: smooth;
    display: flex;
    max-width: fit-content;
    overflow: scroll;
    gap: 42px;
    scrollbar-width: none;
    -ms-overflow-style: none;
    &:active {
      &__item {
        animation-play-state: paused;
      }
    }
    &:hover {
      &__item {
        animation-play-state: paused;
      }
    }
    &::-webkit-scrollbar {
      display: none;
    }
    &__item {
      color: $dark-grey;
      font-size: 24px;
      min-width: max-content;
      line-height: 150%;
      cursor: pointer;
      position: relative;

      &.animate {
        animation-name: scroll-horizontal;
        animation-duration: 1s;
        animation-iteration-count: 2;
        animation-timing-function: ease-in-out;
       
      }
      &:last-child {
        &::after {
          display: none;
        }
      }
      &::after {
        content: '';
        position: absolute;
        right: -21px;
        height: 16px;
        bottom: 0;
        transform: translateY(-9px);
        width: 1px;
        background-color: $white;
      }
      &:hover {
        color: $white;
      }
    }
  }
  &__list {
    margin-top: 32px;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 32px 40px;
    @include media(phone) {
      grid-template-columns: 1fr;
      grid-auto-rows: 1fr;
      align-items: center;
    }
    &__item {
      @include media(phone) {
        // max-width: 328px;
        // height: 253px;
      }
      &__image {
        aspect-ratio: 387/253;
        width: 100%;
        border-radius: 15px;
        overflow: hidden;
        background-color: $pale-blue;
        position: relative;
        &[data-card='BusinesdCard'] {
          background-color: transparent;
          height: 222px;
        }
        & img[data-card='BusinesdCard'] {
          transform: rotateY(180deg);
          opacity: 1;
        }
        img {
          background-color: transparent;
          transition-duration: 0.7s;
        }
      }
      .rotate {
        transition-duration: 0.7s;
        opacity: 0;
        transform: rotateY(180deg);
      }
      .backImage {
        height: 100%;
        opacity: 0;
        border-radius: 10px;
        transition-duration: 0.7s;
        transition-duration: opacity 0.1s;
      }
      .backImage__vis {
        transition-duration: 0.7s;
        transition-duration: opacity 0.1s;
        opacity: 1;
        transform: rotateY(180deg);
      }
      &__title {
        margin-top: 16px;
        color: $white;
        font-size: 18px;
        line-height: 125%;
        font-weight: 500;
      }
      &__desc {
        margin-top: 4px;
        color: $dark-grey;
        font-size: 14px;
        line-height: 120%;
      }
    }
  }
  &__nav {
    display: flex;
    margin: 32px auto 0;
    flex-direction: row;
    gap: 5px;
    button {
      color: $dark-grey;
      font-family: $main-font;
      font-size: 13px;
      font-weight: 600;
      padding: 10px;
      border-radius: 8px;
      background-color: $pale-blue;
      width: 32px;
      height: 32px;
      outline: none;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      border: none;
      &:hover {
        background-color: $bright-blue;
        color: $white;
      }
      &.active {
        background-color: $bright-blue;
        color: $white;
      }
    }
  }
}
@keyframes scroll-horizontal {
  from {
    transform: translateX(0);
  } /* Початок анімації: без зміщення */
  50% {
    transform: translateX(-20px);
  }
  to {
    transform: translateX(0px);
  } /* Кінець анімації: перемістити елемент на 500 пікселів вправо */
}
