@import '@/styles/vars.scss';

.social_smm {
  margin-top: 140px;
  width: 100%;
  font-family: $main-font;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include media(phone) {
    margin-top: 40px;
  }
  &__list {
    display: grid;
    gap: 32px 40px;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
    @include media(phone) {
      grid-template-columns: 1fr;
    }
  }
  &__item {
    max-width: 600px;
    width: 100%;
    display: grid;
    grid-template:
      'title title'
      'count desc';
    @include media(phone) {
      grid-auto-columns: auto 1fr;
      grid-template-rows: 1fr;
      gap: 8px 12px;
      align-items: center;
      grid-template:
        'count title'
        'desc desc';
    }
    &__count {
      margin-right: 20px;
      grid-area: count;
      color: $pale-blue;
      font-size: 24px;
      font-weight: 600;
      line-height: 150%;
      @include media(phone) {
        margin: 0;
      }
    }
    &__title {
      color: $white;
      font-size: 24px;
      font-weight: 600;
      line-height: 150%;
      margin-bottom: 12px;
      grid-area: title;
      padding-bottom: 12px;
      border-bottom: 1px solid $pale-blue;
      width: 100%;
      @include media(phone) {
        font-size: 18px;
        font-weight: 400;
        border: none;
        margin: 0;
        padding: 0;
      }
    }
    &__desc {
      color: $dark-grey;
      grid-area: desc;
      text-align: justify;
      font-size: 18px;
      font-weight: 600;
      line-height: 140%;
      @include media(phone) {
        font-size: 14px;
        font-weight: 400;
        line-height: 125%;
      }
    }
  }
  &__title {
    text-align: center;
    margin-bottom: 40px;
    font-size: 40px;
    font-weight: 600;
    line-height: 125%;
    color: $white;
    @include media(phone) {
      font-size: 30px;
      text-align: center;
    }
  }

  &__images {
    width: 100%;
    display: flex;
    gap: 40px;
    margin-top: 40px;
    @include media(phone) {
      flex-direction: column;
    }
  }

  &__image {
    @include media(phone) {
      &:nth-last-child(1) {
        display: none;
      }
    }
    flex-grow: 1;
    width: 100%;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    aspect-ratio: 600/ 336;
    img {
      object-fit: cover;
    }
  }
}
