@import '@/styles/vars.scss';

.reasons {
  margin: 140px 0;
  display: grid;
  gap: 40px;
  grid-template-columns: 2fr 1fr;

  font-family: $main-font;
  &__content {
    display: grid;
    gap: 40px;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
  }
  &__image {
    width: 100%;
    height: 100%;
    position: relative;
  }
  &__title {
    grid-column: span 2;
    font-size: 40px;
    font-weight: 600;
    line-height: 125%;
    color: $white;
  }
  &__item {
    display: flex;
    flex-direction: column;
    &_title {
      margin-top: 10px;
      font-size: 18px;
      font-weight: 600;
      line-height: 125%;
      color: $white;
    }
    &_desc {
      margin-top: 18px;
      font-size: 16px;
      line-height: 150%;
      color: $dark-grey;
    }
  }
}
