@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@keyframes radar {
  0% {
  }
  50% {
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes wrench {
  0% {
    transform: translate(0px, 0px) rotate(0deg);
  }
  50% {
    transform: translate(30px, 5px) rotate(-90deg);
  }
  100% {
    transform: translate(0px, 0px) rotate(0deg);
  }
}
@keyframes rocket_fire {
  0% {
    transform: translate(0px, 0px) rotate(0deg);
  }
  25% {
    transform: translate(5px, 5px) rotate(-10deg);
  }
  50% {
    transform: translate(-5px, -5px) rotate(10deg);
  }
  75% {
    transform: translate(5px, 5px) rotate(-10deg);
  }

  100% {
    transform: translate(0px, 0px) rotate(0deg);
  }
}
@keyframes pencil {
  0% {
    opacity: 0.3;
    left: -30px;
  }

  100% {
    left: 10px;
  }
}
@keyframes pc_line {
  0% {
    opacity: 1;
    width: 1px;
  }

  100% {
    opacity: 1;
    width: 90px;
  }
}
.How_we_work {
  margin: auto;
  margin-top: 140px;
}
.wrapper {
  max-width: 1160px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  .label {
    color: var(--white, #f0f0f0);
    text-align: center;
    font-family: 'Manrope';
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    margin-bottom: 24px;
  }
  .images {
    width: 100%;
    height: 230px;
    background-image: url(../../../../public/img/How_we_work/dashed_backgound.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    align-items: center;

    .picture {
      height: 100px;
      width: 100px;
      margin: 0px 65px;
      .active_gear {
        position: absolute;
        top: -15px;
        left: 15px;
        transition-duration: 1.5s;
        &:hover {
          animation: radar 2s linear 1;
        }
      }
      .radar {
        position: relative;
        z-index: 2;
        transition-duration: 0.3s;
        &:hover {
          transform: scale(1.1);
          ~ .radar_line {
            animation: radar 1s linear 1;
          }
        }
      }

      .radar_line {
        position: absolute;
        top: 0px;
        left: 0px;
      }
      .wrench {
        transition-duration: 0.5s;
        &:hover {
          animation: wrench 1s linear 2;
        }
      }
      .rocket {
        position: relative;
        z-index: 5;
        &:hover {
          ~ .rocket_active_fire {
            opacity: 1;
            animation: rocket_fire 0.7s linear 3;
          }
        }
        &:hover {
          ~ .rocket_fire {
            opacity: 0;
            animation: rocket_fire 0.7s linear 3;
          }
        }
      }
      .rocket_fire {
        transition-duration: 0.2s;
        opacity: 1;
        position: absolute;
        top: 39px;
        left: -39px;
      }
      .rocket_active_fire {
        transition-duration: 0.2s;
        opacity: 0;
        position: absolute;
        top: 40px;
        left: -42px;
      }
      .pc_hover {
        &:hover {
          .pc_line {
            opacity: 1;
            width: 90px;
            animation: pc_line 0.5s linear 1;
          }
          .pencil {
            animation: pencil 0.5s linear 1;
            opacity: 1;
            left: 10px;
          }
        }
      }
      .pc_line {
        opacity: 0;
        position: absolute;
        top: 0px;
        left: 0;
        width: 90px;
      }
      .pencil {
        height: 90px;
        width: 90px;
        transition-duration: 0.3s;
        opacity: 0;
        position: absolute;
        top: 2px;
        left: -30px;
      }

      position: relative;
      &:hover {
        &::after,
        &::before {
          background-color: #9fcfff;
          z-index: 2;
        }
      }
      &::after,
      &::before {
        content: '';
        position: absolute;
        top: 40px;
        left: -75px;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        background-color: #2d8eee;
        transition-duration: 0.3s;
      }
      &::after {
        top: 40px;
        left: 155px;
      }
    }
  }

  .btns_to_images {
    display: flex;
    align-items: center;

    margin-top: 25px;
    margin-bottom: 40px;

    .card_label {
      border: none;
      border-radius: 2px;
      background: var(--bright-blue, #2d8eee);
      color: var(--white, #f0f0f0);
      text-align: center;
      width: 210px;
      padding: 12px 32px;
      margin: 0px 10px;
      font-family: 'Manrope';
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: 125%; /* 22.5px */
      transition-duration: 0.3s;
      border-radius: 2px;
      cursor: pointer;
      &:hover {
        box-shadow: inset 0px 0px 15px 3px rgba(0, 0, 0, 0.5);
      }
    }
  }
}
.btn_order {
  position: relative;
  z-index: 2;
  width: fit-content;
  opacity: 1;
  line-height: 125%;
  border-radius: 90px;
  padding: 12px 32px;
  border: none;
  cursor: pointer;

}
.hide {
  opacity: 0;
}
.card_description {
  transition-duration: 0.3s;
  &.open {
    opacity: 1;
    top: 410px;
  }
  opacity: 0;
  position: absolute;
  top: 400px;
  left: 0px;
  background-color: #081522;
  padding: 15px 25px;
  width: 1275px;
  border: 1px solid #3080d1;
  .arrow {
    transition-duration: 0.3s;
    position: absolute;
    top: -17px;
  }
  .text {
    color: var(--dark-grey, #b1b1b1);
    text-align: justify;
    font-family: 'Open Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }
}
