@import '@/styles/vars.scss';

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

.How_we_work {
  margin: auto;
  margin-top: 140px;
  font-family: $main-font;
  @include media(phone) {
  margin-top: 80px;

  }
}
.wrapper {
  max-width: 1160px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  .label {
    color: var(--white, #f0f0f0);
    text-align: center;
    font-family: $main-font;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    margin-bottom: 40px;
  }
  .card_row {
    @include media(phone) {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .images {
    width: 100%;
    height: 230px;
    background-image: url(../../../../public/img/How_we_work/dashed_backgound.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    @include media(phone) {
      background-image: url(../../../../public/img/How_we_work/dashed_backgound_rotated.png);
      height: 100%;
      flex-direction: column;
    }
    .picture {
      height: 100px;
      width: 100px;
      margin: 0px 65px;
      @include media(phone) {
        height: 70px;
        width: 70px;
        margin: 55px;
        position: relative;
        z-index: 1;
        img {
          width: 70px;
          height: 70px;
        }
      }
      .active_gear {
        position: absolute;
        top: -15px;
        left: 15px;
        transition-duration: 1.5s;
        &:hover {
          animation: radar 2s linear 1;
        }
      }
      .radar {
        position: relative;
        z-index: 2;
        transition-duration: 0.3s;
        &:hover {
          transform: scale(1.1);
          ~ .radar_line {
            animation: radar 1s linear 1;
          }
        }
      }

      .radar_line {
        position: absolute;
        top: 0px;
        left: 0px;
      }
      .wrench {
        transition-duration: 0.5s;
        &:hover {
          animation: wrench 1s linear 2;
        }
      }
      .rocket {
        position: relative;
        z-index: 5;
        &:hover {
          ~ .rocket_active_fire {
            opacity: 1;
            animation: rocket_fire 0.7s linear 3;
          }
        }
        &:hover {
          ~ .rocket_fire {
            opacity: 0;
            animation: rocket_fire 0.7s linear 3;
          }
        }
      }
      .rocket_fire {
        transition-duration: 0.2s;
        opacity: 1;
        position: absolute;
        top: 39px;
        left: -39px;
        @include media(phone) {
          top: 25px;
          left: -25px;
        }
      }
      .rocket_active_fire {
        transition-duration: 0.2s;
        opacity: 0;
        position: absolute;
        top: 40px;
        left: -42px;
        @include media(phone) {
          top: 30px;
          left: -30px;
        }
      }
      .pc_hover {
        &:hover {
          .pc_line {
            opacity: 1;
            width: 90px;
            animation: pc_line 0.5s linear 1;
          }
          .pencil {
            animation: pencil 0.5s linear 1;
            opacity: 1;
            left: 10px;
          }
        }
      }
      .pc_line {
        opacity: 0;
        position: absolute;
        top: 0px;
        left: 0;
        width: 90px;
      }
      .pencil {
        height: 90px;
        width: 90px;
        transition-duration: 0.3s;
        opacity: 0;
        position: absolute;
        top: 2px;
        left: -30px;
        @include media(phone) {
          width: 50px;
          height: 50px;
        }
      }
      position: relative;
      &:hover {
        &::after,
        &::before {
          background-color: #9fcfff;
          z-index: 2;
        }
      }
      &::after,
      &::before {
        content: '';
        position: absolute;
        top: 40px;
        left: -75px;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        background-color: #2d8eee;
        transition-duration: 0.3s;
        @include media(phone) {
          top: -62px;
          left: -58px;
          height: 15px;
          width: 15px;
        }
      }
      &::after {
        top: 40px;
        left: 155px;
        @include media(phone) {
          top: 118px;
          left: 115px;
        }
      }
      @include media(phone){
        &:last-child{
          &::after{
            top: 117px;
           left: -58px;
          }
        }
      }
    }
  }

  .btns_to_images {
    display: flex;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 40px;
    @include media(phone) {
      flex-direction: column;
      gap: 135px;
      margin: 170px 0px 0px 0px;
      position: absolute;
      z-index: 0;

    }

    .card_label {
      border: none;
      border-radius: 2px;
      background: var(--bright-blue, #2d8eee);
      color: var(--white, #f0f0f0);
      text-align: center;
      width: 210px;
      padding: 12px 32px;
      margin: 0px 10px;
      font-family: $main-font;
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: 125%; /* 22.5px */
      transition-duration: 0.3s;
      border-radius: 2px;
      @include media(phone) {
        padding: 12px 4px;
        width: 120px;
        font-size: 16px;
        line-height: 125%;
      }
      cursor: pointer;
      &:hover {
        box-shadow: inset 0px 0px 15px 3px rgba(0, 0, 0, 0.5);
      }
    }
  }
}
.btn_order {
  position: relative;
  z-index: 2;
  width: fit-content;
  opacity: 1;
  line-height: 125%;
  border-radius: 90px;
  padding: 12px 32px;
  border: none;
  cursor: pointer;
  @include media(phone) {
    padding: 12px 12px;
margin-top: 50px;
    font-size: 16px;
    line-height: 125%;
  }
}
.hide {
  opacity: 0;
}
.card_description {
  @include media(phone) {
    width: auto; 
    &.open {
      opacity: 1;
      z-index: 5;
      top:0;
    }
  }
  transition-duration: 0.3s;
  &.open {
    opacity: 1;
    z-index: 5;
    top: 410px;
  }
  opacity: 0;
  position: absolute;
  top: 400px;
  z-index: -1;
  left: 0px;
  background-color: #081522;
  padding: 15px 25px;
  width: 1275px;
  border: 1px solid #3080d1;

  .arrow {
    @include media(phone) {
      display: none;
    }
    transition-duration: 0.3s;
    position: absolute;
    top: -17px;
    width: 18px;
    z-index: 5;
    height: 22px;
    background-color: #081522;

    &::after,
    &::before {
      content: '';
      height: 1px;
      background-color: #3080d1;
      width: 17px;
      position: absolute;
      top: 9px;
    }
    &::after {
      transform: rotate(-60deg);
      left: -4px;
    }
    &::before {
      left: 5px;
      transform: rotate(60deg);
    }
  }
  .text {
    color: var(--dark-grey, #b1b1b1);
    text-align: justify;
    font-family: $main-font;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }
}
@keyframes radar {
  0% {
  }
  50% {
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes wrench {
  0% {
    transform: translate(0px, 0px) rotate(0deg);
  }
  50% {
    transform: translate(30px, 5px) rotate(-90deg);
  }
  100% {
    transform: translate(0px, 0px) rotate(0deg);
  }
}
@keyframes rocket_fire {
  0% {
    transform: translate(0px, 0px) rotate(0deg);
  }
  25% {
    transform: translate(5px, 5px) rotate(-10deg);
  }
  50% {
    transform: translate(-5px, -5px) rotate(10deg);
  }
  75% {
    transform: translate(5px, 5px) rotate(-10deg);
  }

  100% {
    transform: translate(0px, 0px) rotate(0deg);
  }
}
@keyframes pencil {
  0% {
    opacity: 0.3;
    left: -30px;
  }

  100% {
    left: 10px;
  }
}
@keyframes pc_line {
  0% {
    opacity: 1;
    width: 1px;
  }

  100% {
    opacity: 1;
    width: 90px;
  }
}