@import '@/styles/vars.scss';
.security {
  margin-top: 140px;
  display: flex;
  gap: 40px;
  font-family: $main-font;
  @include media(phone) {
    margin-top: 40px;
    flex-direction: column;
  }
  &__content {
    display: flex;
    flex-direction: column;
  }
  &__title {
    font-size: 40px;
    font-weight: 600;
    line-height: 125%;
    color: $white;
  }
  &__desc {
    margin-top: 12px;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    color: $dark-grey;
  }
  &__list {
    display: flex;
    margin-top: 24px;
    flex-direction: column;
  }
  &__image {
    border-radius: 10px;
    width: 100%;
    max-width: 387px;
    height: auto;
    position: relative;
    flex-grow: 1;
    flex-shrink: 0;
    overflow: hidden;
    aspect-ratio: 387/453;

    img {
      width: auto !important;
      height: 100% !important;
    }
  }
  &__item {
    display: grid;
    grid-template-columns: 150px auto auto;
    position: relative;
    margin-bottom: 16px;
    align-items: center;
    @include media(phone) {
      grid-template-columns: 100px auto auto;
    }
    &::after {
      content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='3' height='328' viewBox='0 0 3 328' fill='none'%3E%3Cpath d='M1.5 0V150' stroke='%232D8EEE' stroke-width='3' stroke-dasharray='6 6'/%3E%3C/svg%3E");
      position: absolute;
      height: 100%;
      width: 0;
      top: 80px;
      left: 40px;
      @include media(phone) {
        content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='3' height='328' viewBox='0 0 3 328' fill='none'%3E%3Cpath d='M1.5 0V328' stroke='%232D8EEE' stroke-width='3' stroke-dasharray='6 6'/%3E%3C/svg%3E");
        width: 0;
        top: 60px;
        left: 30px;
      }
    }
    &:last-child {
      &::after {
        content: '';
      }
    }
    &__title,
    &__order {
      font-size: 24px;
      font-weight: 600;
      line-height: 150%;
      color: $white;
      @include media(phone) {
        font-size: 18px;
      }
    }
    &__desc {
      grid-column: 2 / span 3;
      color: $dark-grey;
      font-size: 16px;
      text-align: justify;
      font-weight: 400;
      line-height: 140%;
    }
    &__order {
      padding: 6px 11px;
      background-color: $bright-blue;
      border-radius: 10px;
      margin-right: 12px;
    }
    &__icon {
      z-index: 1;
      grid-row: 1;
      height: 80px;
      width: 80px;
      border: 10px solid $bright-blue;
      background-color: $dark-blue;
      margin-right: 66px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      @include media(phone) {
        height: 60px;
        width: 60px;
        border: 5px solid $bright-blue;

        img {
          height: 22px;
          width: 22px;
        }
      }
      &::after {
        content: '';
        width: 33px;
        height: 10px;
        background-color: $bright-blue;
        top: 50%;
        right: -33px;
        transform: translateY(-50%);
        position: absolute;
        @include media(phone) {
          width: 20px;
          right: -20px;
        }
      }
      &::before {
        content: '';
        width: 32px;
        height: 32px;
        background-color: $bright-blue;
        border-radius: 50%;
        top: 50%;
        right: -55px;
        transform: translateY(-50%);
        position: absolute;
        @include media(phone) {
          width: 20px;
          height: 20px;
          right: -35px;
        }
      }
    }
  }
}
