@import '@/styles/vars.scss';

.work-together {
  margin-top: 170px;
  display: flex;
  justify-content: space-between;
  font-family: $main-font;
  width: 100%;
  flex-grow: 1;
  @include media(phone) {
   margin-top: 20px;
    flex-direction: column;
  padding-top: 80px;
  gap: 24px;
  }
  &__content {
    max-width: 480px;
    width: 100%;
  }
  &__title {
    font-size: 40px;
    line-height: 150%;
    margin-bottom: 12px;
    color: $white;
    @include media(phone) {
      font-size: 20px;
      line-height: 130%;
    }
  }
  &__desc {
    font-size: 16px;
    line-height: 150%;
    color: $dark-grey;
    font-weight: 400;
    text-align: justify;
    @include media(phone) {
      font-size: 14px;
      line-height: 150%;
    }

    i {
      color: $white;
      font-style: normal;
    }
  }
  &__form {
    display: flex;
    flex-grow: 1;
    max-width: 600px;
  }
}
