@import '@/styles/vars.scss';

.slider {
  max-width: 1026px;
  width: 100%;
  height: 321px;
  position: relative;
  @include media(phone) {
    height: 490px;
  }
  &__slide {
    min-height: 321px;
    max-width: 814px;
    position: relative;
    width: 100%;
    margin: 0 auto;
    background-color: $pale-blue;
    padding: 95px 40px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include media(phone) {
      padding: 50px 20px 20px;
      height: 490px;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;

    }
    &__title {
   
      text-align: center;
      font-family: Manrope;
      font-size: 24px;
      font-weight: 600;
      line-height: 150%;
      margin-bottom: 20px;
      color: $white;

      &::before {
        content: '“';
        width: 77px;
        height: 80px;
        color: $bright-blue;
        text-align: center;
        font-family: Manrope;
        font-size: 180px;
        font-weight: 600;
        line-height: 125%;
        position: absolute;
        top: -10px;
        left: 50%;
        transform: translateX(-50%);
        @include media(phone) {
          line-height: 85%;
          bottom: 45px;
          top: 0;
        }
      }
    }
    &__content {
      margin-bottom: 20px;
      color: $dark-grey;
      text-align: center;
      font-family: Manrope;
      font-size: 16px;
      font-style: italic;
      line-height: 140%;
      word-wrap: break-word;
      /*  word-break: break-all; */
    }
    &__author {
      margin-bottom: 4px;
      color: $dark-grey;
      text-align: center;
      font-family: Manrope;
      font-size: 18px;
      font-weight: 600;
      line-height: 125%;
    }
    &__position {
      color: $dark-grey;
      text-align: center;
      font-family: Manrope;
      font-size: 14px;
      line-height: 120%;
      @include media(phone) {
      }
    }
  }
  &__btn_prev,
  &__btn_next {
    position: absolute;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    transition-duration: 0.3s;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    &:hover {
      background-color: #0d345c;
    }
    @include media(phone) {
      top: 510px;

      transform: none;
    }
  }
  &__btn_prev {
    left: 0;
    @include media(phone) {
      left: 50%;
      transform: translateX(-60px);
    }
  }
  &__btn_next {
    right: 0;
    @include media(phone) {
      right: 50%;
      transform: translateX(60px);
    }
  }
}
