@import '@/styles/vars.scss';

.card {
  max-width: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .rounds {
    display: none;
  }
  @include media(phone) {
    max-width: 100px;
    &:nth-child(3) {
      .rounds {
        img {
          transform:rotateZ(180deg);
        }
      }
    }
    .rounds {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 8px;
      img {
        margin-left: -11px;
        &:nth-child(4) {
          margin-left: -15px;
          width: 9px;
          height: 10px;
        }
      }
    }
  }

  &:hover {
    .card__order {
      animation: border_bottom 0.5s linear 1;
    }
  }

  &__order {
    color: $white;
    text-align: center;
    padding-bottom: 15px;
    border-bottom: 2px solid $bright-blue;
    font-family: $main-font;
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    @include media(phone) {
      margin-top: 25px;
    }
  }
  &__desc,
  &__stats_name {
    font-family: $main-font;
    font-size: 16px;
    line-height: 22px;
    margin: 15px 0 40px;
    color: $light-grey;
    text-align: center;
    @include media(phone) {
      font-size: 12px;
      line-height: 125%;
      margin: 4px 0 12px;
    }
  }
  &__desc {
    @include media(phone) {
      overflow: hidden;
      max-height: 33px;
    }
  }
  &__stats_name {
    margin: 15px 0 50px;

    @include media(phone) {
      margin-bottom: auto;
      font-weight: 400;
      font-size: 11px;
      text-align: left;
      padding-left: 37px;
      margin-top: 0px;
      white-space: nowrap;

    }
  }
  &__stats {
    font-family: $main-font;
    font-size: 56px;
    line-height: 64px;
    padding-bottom: 5px;
    text-align: center;
    color: $white;
    font-weight: 600;
    @include media(phone) {
      text-align: left;
      font-size: 14px;
      padding-left: 37px;
      line-height: 125%;
      padding-bottom: 0px;
      position: relative;
      &::before {
        content: '';
        width: 2px;
        height: 28px;
        position: absolute;
        left: 28px;
        top: 3px;
        background: linear-gradient(180deg, #39a6f8 0%, #061727 100%);
      }
    }
  }
}
@keyframes border_bottom {
  10% {
    border-bottom: 2px solid rgba(0, 0, 255, 0);
  }
  100% {
    border-bottom: 2px solid $bright-blue;
  }
}
