@import '@/styles/vars.scss';

.card {
  max-width: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
 
  
  &__order {
    color: $white;
    text-align: center;
    padding-bottom: 15px;
    border-bottom: 2px solid $bright-blue;
    font-family: $main-font;
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
  }
  &__desc,
  &__stats_name {
    font-family: $main-font;
    font-size: 16px;
    line-height: 22px;
    margin: 15px 0 40px;
    color: $light-grey;
    text-align: center;
    @include media(phone) {
      font-size: 12px;
      line-height: 125%;
      margin: 4px 0 12px;
    }
  }
  &__desc{
    @include media(phone) {
     height: 45px;
    }
  }
  &__stats_name {
    @include media(phone) {
      margin-bottom: auto;
     }
  }
  &__stats {
    font-family: $main-font;
    font-size: 56px;
    line-height: 64px;
    padding-bottom: 5px;
    text-align: center;
    color: $white;
    font-weight: 600;
    @include media(phone) {
    font-size: 32px;
    line-height: 125%;
    }
  }
}
