@import '@/styles/vars.scss';

.become-partner {
  margin: 140px auto 0;
  width: 100%;
  @include media(phone) {
    margin-top: 80px;
  }
  &__title {
    text-align: center;
    color: $white;
    font-family: $main-font;
    font-size: 40px;
    font-weight: 600;
    line-height: 125%;
    @include media(phone) {
      font-size: 20px;
      line-height: 130%;
    }
  }
  &__programs {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    @include media(phone) {
      flex-direction: column;
    }
  }
  &__program-item {
    background-color: $pale-blue;
    width: 100%;
    max-width: 387px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-position: center;
    background-size: contain;
    &:hover{
 
      &:hover{
        .become-partner__program-title {
          &::after{   animation: border_bottom 0.5s linear 1;}
       
        }
      }
    }
    @include media(phone) {
      padding: 12px;
    }
  }
  &__program-image {
    position: relative;
    width: 100%;
    height: 131px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 32px;
    background-size: cover;
    background-position: center;
    @include media(phone) {
      margin-bottom: 12px;
    }
  }
  &__program-title {
    text-align: center;
    color: $white;
    font-family: $main-font;
    font-size: 18px;
    line-height: 125%;
    position: relative;
    margin-bottom: 18px;
    @include media(phone) {
      width: 100%;
    }
    &::after {
      content: '';
      border-bottom: 2px solid $bright-blue;
      position: absolute;
      width: 100%;
      bottom: -8px;
      left: 50%;
      transform: translate(-50%);
    }
  }
  &__program-desc {
    text-align: justify;
    color: $dark-grey;
    font-family: $main-font;
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 32px;
    @include media(phone) {
      font-size: 14px;
      margin-bottom: 12px;
    }
  }
  &__program-btn {
    color: $white;
    font-family: $main-font;
    font-size: 18px;
    line-height: 125%;
    width: fit-content;
    margin-top: auto;
    @include media(phone) {
      width: 160px;
    }
  }
}
@keyframes border_bottom {
  10%{
    border-bottom: 2px solid rgba(0, 0, 255, 0);

  }
  100%{
    border-bottom: 2px solid $bright-blue;

    
  }
}