@import '@/styles/vars.scss';

.seo_solution {
  margin: 140px auto 0;
  font-family: $main-font;
  max-width: 1220px;
  width: 100%;
  &__title {
    color: $white;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    line-height: 125%;
    margin-bottom: 40px;
  }
  &__content {
    display: grid;
    width: 100%;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 32px;
  }
  &__item {
    display: flex;
    flex-direction: column;
    max-width: 280px;
    width: 50%;
    gap: 10px;
    text-align: right;
    padding: 0 0 0 40px;

    &:nth-child(2n) {
      align-self: flex-end;
      text-align: left;
      padding: 0 40px 0 0;
    }
    &__title {
      font-size: 16px;
      color: $dark-grey;
      line-height: 150%;
    }
  }
  &__image {
    position: relative;
    overflow: hidden;
    img {
      height: 100%;
      object-fit: cover;
    }
  }
  &__btn {
    margin: 0 auto;
  }
}
