@import '@/styles/vars.scss';

.seo_solution {
  margin: 140px auto 0;
  font-family: $main-font;
  max-width: 1220px;
  width: 100%;
  @include media(phone) {
    // display: none; // to fix
    margin-top: 80px;
  }
  &__title {
    color: $white;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    line-height: 125%;
    margin-bottom: 40px;
  @include media(phone) {
  font-size: 35px;
  }
  }
  &__content {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 40px;
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 32px;
    width: 100%;
    position: relative;
    overflow: visible;
    @include media(phone) {
      display: flex;
      flex-direction: column;
      &:nth-child(odd) {
        align-self: flex-start;
      }
      &:nth-child(even) {
        align-self: flex-end;
      }
    }
    &::after {
      content: '';
      width: 100%;
      height: 2px;
      background-color: $bright-blue;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      @include media(phone) {
        height: 600px;
        width: 2px;
        left: 50%;
      }
    }
  }
  &__item {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    &:nth-child(2n-1) {
      div:first-child {
        order: 1;

        &::after {
          transform: translate(-50%, -50%);
          top: 0;
        }
        &::before {
          transform: translate(-50%, -50%);
          top: 0;
            @include media(phone) {
            
            
              top: 70px;


           
          }
        }
      }
    }
    @include media(phone) {
      grid-template-rows: auto;
    
      &:nth-child(odd) {
        justify-content: flex-start;
        .seo_solution__item__content {
          &::before {
              left: calc(50vw - 16px);            
          }
        }

      }
      &:nth-child(even) {
        justify-content: flex-end;
        .seo_solution__item__content {
          &::before {
            top: 55px;
              right:calc(50vw - 33px);
            
          }
        }
      }
    }
    @media (max-width:360px) {
      &:nth-child(odd) {
        justify-content: flex-start;
        .seo_solution__item__content {
          &::before {
              left: 165px;            
          }
        }

      }
      &:nth-child(even) {
        justify-content: flex-end;
        .seo_solution__item__content {
          &::before {
            top: 55px;
              right:147px;
            
          }
        }
      }
    }
  
    &__content {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 12px;
      height: 150px;
      max-width: 250px;
      position: relative;
    
      &::after {
        content: '';
        height: 16px;
        width: 40px;
        background-color: $dark-blue;
        left: 50%;
        transform: translate(-50%, 50%);
        position: absolute;
        bottom: 0;
        z-index: 10;
        @include media(phone) {
          left: calc(50vw - 10px);
          display: none;
        }
      }
      &::before {
        content: url('/img/icons/point.svg');
        height: 16px;
        width: 16px;
        background-color: $dark-blue;
        left: 50%;
        transform: translate(-50%, 50%);
        position: absolute;
        bottom: 0;
        z-index: 11;

        @include media(phone) {
          left: auto;
        }
      }
    }
    &__title {
      font-size: 16px;
      color: $dark-grey;
      line-height: 150%;
      @include media(phone) {
        line-height: 125%;
   

      }
      @media (max-width:570px) {
        max-width: 160px;
        font-size: 12px;
      } 
    }
  }
  &__images {
    display: flex;
    gap: 40px;
    @include media(phone) {
      flex-direction: column;
    }
  }

  &__image {
    aspect-ratio: 600/256;
    width: 100%;
    position: relative;
  }
  &__btn {
    margin: 0 auto;
  }
}
