@import '@/styles/vars.scss';

.support_types {
  margin-top: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $main-font;
  @include media(phone) {
    margin-top: 80px;
  }

  &__title {
    font-size: 40px;
    font-weight: 600;
    line-height: 125%;
    color: $white;
    max-width: 800px;
    text-align: center;
    @include media(phone) {
      font-size: 30px;
    }
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 40px;
    gap: 32px 38px;
    @include media(phone) {
      grid-template-columns: 1fr !important;
    }
  }
  &__image {
    width: 100%;
    height: 409px;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    margin-top: 40px;
  }
  &__item {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    gap: 12px 20px;
    &.alt {
      gap: 4px 20px;
    }

    &__order {
      font-size: 24px;
      font-weight: 600;
      line-height: 150%;
      color: $pale-blue;
      grid-column: 1;
      grid-row: 1 / span 2;
    }
    &.alt {
      // grid-row: 1;
    }
    &__title {
      color: $white;
      font-size: 24px;
      font-weight: 600;
      line-height: 150%;
    }
    &.alt {
      // grid-column: 1;
    }
    &__desc {
      color: $dark-grey;
      font-size: 16px;
      font-weight: 400;
      line-height: 150%;
      text-align: justify;
      &.alt {
        grid-column: 1 / span 2;
      }
    }
  }
}
