@import '@/styles/vars.scss';

.we_provide {
  margin: 140px auto 0;
  font-family: $main-font;
  width: 100%;
  @include media(phone) {
    margin: 40px auto 0;
  }
  &__title {
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    line-height: 125%;
    color: $white;
    max-width: 750px;
    margin: 0 auto 40px;
    @include media(phone) {
      font-size: 35px;

    }
  }
  &__list {
    display: flex;
    gap: 40px;
    align-items: center;
    @include media(phone) {
      flex-direction: column;
      padding: 0;
    }
    .service_card {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      &:hover {
        img[data-name='pencil'] {
          transform: rotate(360deg);
        }
        img[data-name='check_arrow'] {
          animation: check_arrow 1s linear 1;
        }
        img[data-name='clipboard_clear'] {
          animation: clipboard 0.5s linear 1;
        }
        img[data-name='clipboard_top'] {
          animation: clipboard_top 0.6s linear 1;
        }
      }
      .card_image {
        margin-bottom: 10px;
        width: 50px;
        height: 50px;
        position: relative;
        img[data-name='pencil'] {
          transition-duration: 0.5s;
        }
        img[data-name='check_arrow'] {
          position: absolute;
          top: 0px;
          left: 0px;
        }
        img[data-name='clipboard_top'] {
          position: absolute;
          top: 0px;
          left: 0px;
        }
        img[data-name='clipboard_clear'] {
          position: absolute;
          top: 0px;
          left: 0px;
        }
      }
      .card_label {
        font-family: 'Manrope';
        font-size: 24px;
        font-weight: 600;
        line-height: 150%; /* 36px */
        margin-bottom: 5px;
        color: $white;
      }
      .card_text {
        color: var(--dark-grey, #b1b1b1);
        text-align: center;
        font-family: 'Open Sans';
        font-size: 16px;
        font-weight: 400;
        line-height: 140%; /* 22.4px */
        max-width: 390px;
        @include media(phone){
          text-align: center;
        }
      }
    }
  }
}
@keyframes check_arrow {
  0% {
    opacity: 0;
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    opacity: 1;
  }
}
@keyframes clipboard {
  0% {
    opacity: 0;
    z-index: 2;
  }
  50% {
    opacity: 0;
    top: 20px;
    z-index: 2;
  }
  90% {
  }
  100% {
    z-index: 2;
    top: 0px;
    opacity: 1;
  }
}
@keyframes clipboard_top {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
    top: 10px;
  }
  80% {
    opacity: 0;
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}
