@import '@/styles/vars.scss';

.contact-us {
  margin-top: 140px;
  padding: 50px 0;
  font-family: $main-font;
  background-repeat: no-repeat!important;
  
  @include media(phone){
  margin-top: 80px;

  }
  &__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__title {
    line-height: 150%;
    margin-bottom: 34px;
    color: $light-grey;
    text-align: center;
    font-family: Manrope;
    font-size: 24px;
    font-weight: 600;
    width: 100%;
    @include media(phone){
      font-size: 28px;
    }
  }
}
